/Backend/.metadata/.mylyn/.tasks.xml.zip
/Backend/.metadata/.mylyn/tasks.xml.zip
/Backend/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/Backend/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/Backend/.metadata/.mylyn/.tasks.xml.zip
/Backend/.metadata/.mylyn/tasks.xml.zip
/Backend/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/Backend/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/Backend/.metadata/.log
/Backend/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/Backend/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/Backend/.metadata/.plugins/org.eclipse.jdt.core/1141496479.index
/Backend/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/Backend/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/Backend/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
/Backend/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/Backend/.metadata/version.ini
